<form [formGroup]="courseFormGroup" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="title">Title</label>
      <input type="text" name="title" placeholder="Title" class="form-control" formControlName="title">
      <div class="error-message d-flex">Title is required</div>
    </div>

    <div class="form-group col-md-6">
      <label for="title">Initials</label>
      <input type="text" name="initials" placeholder="Initials" class="form-control" formControlName="initials">
      <div class="error-message d-flex">Initials is required</div>
    </div>

    <div class="form-group col-md-6">
      <label for="title">Dsecription</label>
      <textarea name="description" id="" cols="30" rows="10" placeholder="Description" class="form-control"
        formControlName="description"></textarea>
      <div class="error-message d-flex">Description is required</div>
    </div>

    <div class="form-group col-md-6">
      <label for="title">Image</label>
      <input type="file" name="title" placeholder="Title" class="form-control">
      <div class="error-message d-flex">Image is required</div>
      <div class="d-flex justify-content-center">
        <img src="/assets/images/recolectandoOtonio.png" alt="" class="size-image">
      </div>
    </div>

    <div class="form-group col-md-6">
      <div class="custom-control custom-checkbox mr-sm-2">
        <input type="checkbox" class="custom-control-input" id="customControlAutosizing" formControlName="activated">
        <label class="custom-control-label" for="customControlAutosizing">Activated?</label>
      </div>
    </div>

  </div>
  <!-- <div> -->
    <button type="submit" class="btn btn-info">Save</button>
  <!-- </div> -->
</form>