<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 class="d-flex justify-content-start">Reset your password</h3>
      </div>
      <div class="card-body">

        <form class="form mx-3" method="" action="" [formGroup]="passwordForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="password">New Password</label>
            <input class="form-control" type="password" name="password" formControlName="password" placeholder="New Password"
              [ngClass]="{ 'is-invalid': (submitted && formControls.password.errors && formControls.password.errors.required) || (formControls.password.errors?.required && formControls.password.touched && !submitted) || (submitted && formControls.password.errors && formControls.password.errors.minlength) || (formControls.password.errors?.minlength && formControls.password.touched && !submitted) }">
            <div class="color-div" *ngIf="(submitted && formControls.password.errors && formControls.password.errors.required) || (formControls.password.errors?.required && formControls.password.touched && !submitted)">password
              is required</div>
            <div i18n="@@password-long" class="color-div" *ngIf="(submitted && formControls.password.errors && formControls.password.errors.minlength) || (formControls.password.errors?.minlength && formControls.password.touched && !submitted)">
              Your password must be 8-20 characters long
            </div>
          </div>

          <div class="form-group">
            <label for="repeatPassword">Repeat new password</label>
            <input class="form-control" type="password" name="repeatPassword" formControlName="repeatPassword"
              placeholder="Repeat Password" [ngClass]="{ 'is-invalid': (submitted && formControls.repeatPassword.errors && formControls.repeatPassword.errors.required) || (formControls.repeatPassword.errors?.required && formControls.repeatPassword.touched && !submitted) || (submitted && formControls.repeatPassword.errors && formControls.repeatPassword.errors.minlength) || (formControls.repeatPassword.errors?.minlength && formControls.repeatPassword.touched && !submitted) }">
            <div class="color-div" *ngIf="(submitted && formControls.repeatPassword.errors && formControls.repeatPassword.errors.required) || (formControls.repeatPassword.errors?.required && formControls.repeatPassword.touched && !submitted)">
              Repeat password is required</div>
            <div i18n="@@password-long" class="color-div" *ngIf="(submitted && formControls.repeatPassword.errors && formControls.repeatPassword.errors.minlength) || (formControls.repeatPassword.errors?.minlength && formControls.repeatPassword.touched && !submitted)">
              Your password must be 8-20 characters long
            </div>
          </div>
          <span class="text-danger" *ngIf="passwordForm.controls.repeatPassword.errors?.required && passwordForm.controls.repeatPassword.touched">Repeat
            password is required</span>
          <div class="color-div text-center" *ngIf="passwordForm.errors?.doesMatchPassword">Password
            does not match</div>

          <div class="form-group">
            <div class="row justify-content-center">
              <button type="submit" class="form-control color-button">Reset My
                Password
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a href="#" class="color-text">School Control</a>
        </div>
      </div>
    </div>
  </div>
</div>