<div class="container">
  <div class="justify-content-center">

    <div class="row">
      <div class="col-md-6">
        Users
      </div>
      <div class="col-md-6 justify-content-end d-flex">
        <button class="btn btn-info">New User</button>
      </div>
      <br>
      <div class="col-md-12">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>FirstName</th>
                <th>LastName</th>
                <th>login</th>
                <th>email</th>
                <th>Status</th>
                <th>|||||||</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let user of userList">
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.login}}</td>
                <td>{{user.email}}</td>
                <td>{{user.activated}}</td>
                <td>
                  <button class="btn-icon"><i class="fas fa-pen-square"></i></button>
                  <button class="btn-icon"><i class="fas fa-trash-alt" (click)="openModal(template)"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">you're sure?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-info" popover="Vivamus sagittis">Cancel</button>
      <button type="button" class="btn btn-danger" tooltip="Vivamus sagittis">Delete</button>
    </div>
  </div>
</ng-template>