.container {
    color: #493C46;
}

.card-modifys {
    margin-top: 2% !important;
    margin-bottom: auto !important;
    width: 90% !important;
}

.button-card-header {
    border: solid 1px;
    background-color: inherit;
    color: #493C46;
    border-radius: 4px;
    border-color: #493C46;
    height: 2.3rem;
    width: 6rem;
    margin-left: 7px;
}

.button-card-header:hover {
    background-color: #493C46;
    color: #EFEDF1;
}

.btn-icon {
    border: 0;
    margin: 5px;
    border-radius: 50px;
    background-color: #493C46;
    color: #E8E2E7; 
    height: 30px;
    width: 30px;
}
.btn-icon:hover {
    background-color: #E8E2E7;
    color: #493C46;
    border: solid 1px #493C46;
}

.modal-main {
    position: fixed;
    background-color: white;
    color: #493C46;
    font-weight: normal;
    border-radius: 10px;
    width: 35%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
  
.display-block {
    display: block;
}

.display-none {
    display: none;
}

.modal-margin {
    margin: 17px;
    margin-top: 40px;
}

.close-modal {
    float: right;
    width: 50px;
    height: 50px;
    font-size: 32px;
    display: grid;
    border: 0;
    background-color: white;
    color: #493C46;
}

.close-modal:hover {
    border: solid 1px #493C46;
}

.title-modal {
    margin: 13px;
    float: left;
}

.color-header-modal {
    background-color: #493C46;
}

.button-modal {
    margin: 5px;
    background-color: #493C46;
    color: #E8E2E7;
    border: 0;
}

.span-left {
    float: left;
}

.btn-modal {
    color: #493C46;
    margin: 5px;
    width: 74px;
    height: 43px;
    border: solid 1px #493C46 !important;
    background-color: inherit;
}

.btn-modal:hover {
    background-color: #493C46;
    color: #EFEDF1;
    border: 0 !important;
}

.message {
    float: left;
    color: red;
    font-size: 13px;
}

@media only screen and (max-width: 768px) {
    .modal-main {
        width: 90%;
    }

    .close-modal {
        float: right;
    }   

}
