<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 class="d-flex justify-content-start">Password reset</h3>
      </div>
      <div class="card-body">
        <form name="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input name="email" type="email" class="form-control" placeholder="email*" formControlName="email" />
            <div class="error-message d-flex">email is required</div>
          </div>
          <div class="input-group form-group">
            <button class="form-control color-button" type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          <a href="#" class="color-text">School Control</a>
        </div>
      </div>
    </div>
  </div>
</div>