<div class="wrapper">
  <nav id="sidebar">
    <div class="sidebar-header">
      <h4>School Control <i class="fas fa-school"></i></h4>
    </div>

    <ul class="list-unstyled components">
      <li routerLinkActive="active">
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Settings <i class="fas fa-cogs"></i></a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li>
            <a [routerLink]="[ '/admin', { outlets: { sidebar: ['admin-profile'] } }]">Profile <i class="fas fa-user-alt"></i></a>
          </li>
          <li>
            <a routerLink="/admin/inscription">Inscription <i class="fas fa-address-card"></i></a>
          </li>
          <li>
            <a routerLink="/admin/history">History <i class="fas fa-history"></i></a>
          </li>
        </ul>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="[ '/admin', { outlets: { sidebar: ['users'] } }]">Users <i class="fas fa-bookmark"></i></a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="[ '/admin', { outlets: { sidebar: ['courses'] } }]">Courses <i class="fas fa-bookmark"></i></a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="[ '/admin', { outlets: { sidebar: ['subjects'] } }]">Subjects <i class="fas fa-brain"></i></a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="[ '/admin', { outlets: { sidebar: ['teachers'] } }]">Teachers <i class="fas fa-chalkboard-teacher"></i></a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="[ '/admin', { outlets: { sidebar: ['qualifications'] } }]">Qualifications <i class="fas fa-book-medical"></i></a>
      </li>
    </ul>
  </nav>
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light color-navbar">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="#">Warnings</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Sttings</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{account.login}} <i class="fas fa-user-circle"></i>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Warnings</a>
                <a class="dropdown-item" href="#">Actions</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" (click)="logout()">logout</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <router-outlet name="sidebar"></router-outlet>
  </div>
</div>