<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3 class="d-flex justify-content-start">Sign Up with</h3>
        <div class="d-flex justify-content-end social-icon">
          <span><i class="fab fa-facebook-square"></i></span>
          <span><i class="fab fa-google-plus-square"></i></span>
          <span><i class="fab fa-twitter-square"></i></span>
        </div>
      </div>
      <div class="card-body">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{ 'is-invalid': (submitted && formControls.firstName.errors && formControls.firstName.errors.required) || (formControls.firstName.errors?.required && formControls.firstName.touched && !submitted) }">
            <div class="error-message d-flex" *ngIf="(submitted && formControls.firstName.errors && formControls.firstName.errors.required) || (formControls.firstName.errors?.required && formControls.firstName.touched && !submitted)">Firt name is required</div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [ngClass]="{ 'is-invalid': (submitted && formControls.lastName.errors && formControls.lastName.errors.required) || (formControls.lastName.errors?.required && formControls.lastName.touched && !submitted) }">
            <div class="error-message d-flex" *ngIf="(submitted && formControls.lastName.errors && formControls.lastName.errors.required) || (formControls.lastName.errors?.required && formControls.lastName.touched && !submitted)">Last name is required</div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="username" formControlName="login" [ngClass]="{ 'is-invalid': (submitted && formControls.login.errors && formControls.login.errors.required) || (formControls.login.errors?.required && formControls.login.touched && !submitted) }">
            <div class="error-message d-flex" *ngIf="(submitted && formControls.login.errors && formControls.login.errors.required) || (formControls.login.errors?.required && formControls.login.touched && !submitted)">User name is required</div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-envelope"></i></span>
            </div>
            <input type="email" class="form-control" placeholder="email" formControlName="email" [ngClass]="{ 'is-invalid': (submitted && formControls.email.errors && formControls.email.errors.required) || (formControls.email.errors?.required && formControls.email.touched && !submitted) }">
            <div class="error-message d-flex" *ngIf="(submitted && formControls.email.errors && formControls.email.errors.required) || (formControls.email.errors?.required && formControls.email.touched && !submitted)">email is required</div>
          </div>
          <div class="input-group form-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fas fa-unlock-alt"></i></span>
            </div>
            <input type="password" class="form-control" placeholder="password" formControlName="password" [ngClass]="{ 'is-invalid': (submitted && formControls.password.errors && formControls.password.errors.required) || (formControls.password.errors?.required && formControls.password.touched && !submitted) }">
            <div class="error-message d-flex" *ngIf="(submitted && formControls.password.errors && formControls.password.errors.required) || (formControls.password.errors?.required && formControls.password.touched && !submitted)">password is required</div>
          </div>
          <div class="input-group form-group">
            <button class="form-control color-button" type="submit">Singup</button>
          </div>
        </form>
      </div>
      <div class="card-footer">
        <div class="d-flex justify-content-center">
          You have an account?
          <a routerLink="/login">Log In</a>
        </div>
      </div>
    </div>
  </div>
</div>