<ul class="tab">
  <li [routerLink]="[ '/admin', { outlets: { sidebar: ['optional-course', courseId, { outlets: { course: ['course-information'] }}]  } }]"
    routerLinkActive="active">
    <a>Information</a>
  </li>
  <li [routerLink]="[ '/admin', { outlets: { sidebar: ['optional-course', courseId, { outlets: { course: ['course-subjects'] }}]  } }]"
    routerLinkActive="active">
    <a>Subjects</a>
  </li>
  <li [routerLink]="[ '/admin', { outlets: { sidebar: ['optional-course', courseId, { outlets: { course: ['course-teachers'] }}]  } }]"
    routerLinkActive="active">
    <a>Teachers</a>
  </li>
  <li [routerLink]="[ '/admin', { outlets: { sidebar: ['optional-course', courseId, { outlets: { course: ['course-students'] }}]  } }]"
    routerLinkActive="active">
    <a>Studets</a>
  </li>
</ul>

<router-outlet name="course"></router-outlet>