<div class="justify-content-center">
  <div class="row">
    <div class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-2 p-2">
      <div class="card rounded-0 w-100 bg-white">
        <a href="/assets/images/macro-blanco.png">
          <img src="/assets/images/macro-blanco.png" class="card-img-top img-responsive w-100">
        </a>
        <div class="card-img-overlay">
          <p class="d-flex justify-content-center font-size" (click)="openModal(newCourse)"><i class="fas fa-plus-square"></i></p>
        </div>
        <div class="card-body background-body">
          <h6 class="card-title">New Course</h6>
        </div>
      </div>
    </div>
    <div class="d-flex col-xs-12 col-sm-6 col-md-4 col-lg-2 p-2" *ngFor="let course of courseList">
      <div class="card rounded-0 w-100 bg-white">
        <a href="/assets/images/recolectandoOtonio.png">
          <img src="/assets/images/recolectandoOtonio.png" class="card-img-top img-responsive w-100">
        </a>
        <div class="card-body background-body">
          <div class="row flex-nowrap">
            <div class="col-md-6 col-xl-6 col-lg-6 col-xs-6col-sm-6 d-flex">
              <h6 class="card-title">Edit Course</h6>
            </div>
            <div class="col-md-6 col-xl-6 col-lg-6 col-lg-6 col-xs-6 col-sm-6 justify-content-end d-flex">
              <a class="mr-2 cursor" (click)="edit(course)"><i class="fas fa-edit" title="Edit"></i></a>
              <a class="cursor" (click)="openModal(deleteCourse, course)"><i class="fas fa-trash-restore-alt" title="Delete"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #deleteCourse>
  <div class="modal-header">
    <h4 class="modal-title pull-left">you're sure?</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="d-flex justify-content-end">
      <button type="button" class="btn btn-info mr-2" popover="Vivamus sagittis" (click)="modalRef.hide()">Cancel</button>
      <button type="button" class="btn btn-danger" tooltip="Vivamus sagittis" (click)="delete()">Delete</button>
    </div>
  </div>
</ng-template>

<ng-template #newCourse>
  <div class="modal-header">
    <h4 class="modal-title pull-left">New Course</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="container">
      <div class="justify-content-center">
        <form [formGroup]="courseFormGroup" (ngSubmit)="onSubmit()">
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="title">Title</label>
              <input id="title" type="text" class="form-control" placeholder="Title" name="title" formControlName="title">
              <div class="error-message d-flex">Title is required</div>
            </div>
            <div class="form-group col-md-6">
              <label for="initials">Initials</label>
              <input id="initials" type="text" class="form-control" placeholder="Initials" name="title" formControlName="initials">
              <div class="error-message d-flex">Initials is required</div>
            </div>
            <div class="form-group col-md-12">
              <label for="description">Description</label>
              <textarea name="description" id="description" cols="30" rows="4" class="form-control" placeholder="Description"
                formControlName="description"></textarea>
              <div class="error-message d-flex">Dsecription is required</div>
            </div>
            <div class="form-group col-md-6">
              <div class="custom-control custom-checkbox mr-sm-2">
                <input type="checkbox" class="custom-control-input" id="customControlAutosizing" formControlName="activated">
                <label class="custom-control-label" for="customControlAutosizing">Activated?</label>
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-info" popover="Vivamus sagittis">Save</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</ng-template>