.card-img-top {
    height: 245.328px;
    object-fit: cover;
}
.font-size {
    font-size: 10vh;
    color: #B56E57;
    padding-top: 30%;
}

@media only screen and (max-width: 566px) {   
    .font-size {
        font-size: 10vh;
        color: #B56E57;
        padding-top: 18%;
    }
}

.background-body {
    background: #EFB57E !important;
    color: #302727 !important;
}

.display-fonts {
    display: inline-block;
}

.cursor {
    cursor: pointer;
}